@using BetterMembership.Website.Models
@model ICollection<ExternalLogin>

@if (this.Model.Count > 0)
{
    <h3>Registered external logins</h3>
    <table>
        <tbody>
            @foreach (ExternalLogin externalLogin in this.Model)
            {
                <tr>
                    <td>@externalLogin.ProviderDisplayName</td>
                    <td>
                        @if (this.ViewBag.ShowRemoveButton)
                        {
                            using (this.Html.BeginForm("Disassociate", "Account"))
                            {
                                @this.Html.AntiForgeryToken()
                                <div>
                                    @this.Html.Hidden("provider", externalLogin.Provider)
                                    @this.Html.Hidden("providerUserId", externalLogin.ProviderUserId)
                                    <input type="submit" value="Remove" title="Remove this @externalLogin.ProviderDisplayName credential from your account" />
                                </div>
                            }
                        }
                        else
                        {
                            @: &nbsp;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
