@model BetterMembership.Website.Models.LocalPasswordModel

<h3>Change password</h3>

@using (this.Html.BeginForm("Manage", "Account"))
{
    @this.Html.AntiForgeryToken()
    @this.Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @this.Html.LabelFor(m => m.OldPassword)
                @this.Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @this.Html.LabelFor(m => m.NewPassword)
                @this.Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @this.Html.LabelFor(m => m.ConfirmPassword)
                @this.Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Change password" />
    </fieldset>
}
