@model BetterMembership.Website.Models.RegisterExternalLoginModel
@{
    this.ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@this.ViewBag.Title.</h1>
    <h2>Associate your @this.ViewBag.ProviderDisplayName account.</h2>
</hgroup>

@using (this.Html.BeginForm("ExternalLoginConfirmation", "Account", new { this.ViewBag.ReturnUrl }))
{
    @this.Html.AntiForgeryToken()
    @this.Html.ValidationSummary(true)

    <fieldset>
        <legend>Association Form</legend>
        <p>
            You've successfully authenticated with <strong>@this.ViewBag.ProviderDisplayName</strong>.
            Please enter a user name for this site below and click the Confirm button to finish
            logging in.
        </p>
        <ol>
            <li class="name">
                @this.Html.LabelFor(m => m.UserName)
                @this.Html.TextBoxFor(m => m.UserName)
                @this.Html.ValidationMessageFor(m => m.UserName)
            </li>
        </ol>
        @this.Html.HiddenFor(m => m.ExternalLoginData)
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
